.header {
    margin: auto;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product-container {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
    display: flex;
}

.image-container img {
    max-width: 100%;
}

.product-info {
    margin-top: auto;
}