body {
	margin: center; 
	font-family: verdana;
	background-color: #f5f5f5;
}

.header-bar {
	overflow: hidden;
	display: flex;
	width: 100%;
	box-shadow: 0 4px 2px -2px gray;
}

h1 {
  color: #605E5F;

}

p {
  color: #8E8E8E;
}

footer {
	background-color: #666464;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: auto;
	text-align: center;
}

.checkout-cont {
  display: flex;
  padding: 2em;
  min-width: 90%;
}

.checkout-payment-cont {
  width: 50%;
  height: auto;
  float: center;
  margin-right: 2vw;
}

.checkout-cart-cont {
  width: 50%;
  height: auto;
  background-color: antiquewhite;
  border-radius: 10%;
  float: center;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
